.post {
    position: relative;
    min-height: 0;
}

a {
    text-decoration: none !important;
}

article {
    font-size: 16px;
    -webkit-text-stroke: 0.3px;
    background-color: #fff;
    border-bottom: 1px solid #e1e2e3;
    margin-bottom: 30px;
    display: block;

    img {
        height: auto;
        max-width: 100%;
    }

    h2 {
        font-size: 29px;
        font-weight: 300;
        color: #787878;
    }

    .post-body {
        padding: 10px 30px 15px;
        color: #ccc;
        font-size: 14px;
        text-align: justify;
        width: 100%;

        .post-title{
            text-align: left;
            margin: 5px 0 10px;
            line-height: 1.2;
        }

        .post-date-author {
            font-size: 17px;
            margin: 5px 0 10px;
        }

        img {
            display: inline-block;
            opacity: 1;
        }

        .pbtthumbimg {
            float: left;
            margin: 0 10px 5px 0;
            padding: 0;
            border: 0 solid #eee;
            background: #fff;
            width: 200px;
        }

        .morer {
            padding: 10px;
            float: left;
            border: 1px solid;
            border-radius: 10px;
            color: #f76b61;
        }
    }
}